* {
    box-sizing: border-box;
  }
  
  
  main{

  }

  body{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    gap: 2rem;
    margin: 5rem 5rem;
  }

header{
    text-align: center;
    width: 100%;
}
  

 nav{
    text-align: center;

    background-color: antiquewhite;
    border: 2px solid green;
  }
  ul li{
    display: inline;
    list-style-type: none;
    padding: 3rem;
    justify-content: space-around;
    text-align: center;
  }

section#Welcome{
    text-align: center;
}
  

 section header{
    text-align: center;
  }

  /*FISH CREEK PARK AREA*/

    section#Fish-Creek-Park header{
        background-color: #67b4fd8e;
        padding: 1%;
        color: #515730;
    }

  section#Fish-Creek-Park{
    text-align: center;
    background-color:#5157308f;
    
  }  


  section#Fish-Creek-Park p{
        color: #67b5fd;
  }


    /*KOOTENAY AREA */
    section#Kootenay header{
    background-color: #576845;
    padding: 1%;
  }
  section#Kootenay {
    background-color: #83a8b0;
    text-align: center;
  }


  section#Kootenay p{
    justify-content: flex-end;
  }

    /*BRAGG CREEK AREA*/

    section#Bragg-Creek header{
        background-color: #749df9;
        padding:1%;
    }
    section#Bragg-Creek{
        text-align: center;
        background-color: #576845;
    }