* {
    box-sizing: border-box;
  }
  
  
  main{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
  
  }

  body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr 2fr 2fr 2fr;
    background-color: wheat;
    gap: 2rem;
    margin: 5rem 5rem;
    
  }


  header{
    grid-column: span 2;
    text-align: center;
  }
 nav{
    text-align: center;
    grid-column: span 2;
    background-color: antiquewhite;
    border: 2px solid green;

  }
  ul li{
    display: inline;
    list-style-type: none;
    padding: 3rem;
    justify-content: space-around;
    text-align: center;
  }


  section#Welcome{
    margin-top: 1rem;
    margin: 1rem 8rem;
    grid-column: span 2;
    justify-content: center;
  }

  img{
    border-radius: 40px;
    }

section header{
    grid-column: span 2;
}
  /*--------FISH CREEK PARK SECTION------*/

    section#Fish-Creek-Park {
        display:grid;
        align-items: center;
        column-gap: 5px;

    }

    section#Fish-Creek-Park .image-content{
        display:flex;
        max-height: 100%;
        justify-items: center;
        align-items: center;
    }
    
    section#Fish-Creek-Park .text-content{
        display:flex;
        align-items: center;
        justify-items: center;
    }


  /*--------Kootenay Section------*/

  section#Kootenay{
    display:grid;

    gap:1rem;
    align-items: center;
  }

  section#Kootenay .image-content{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  section#Kootenay .image-content{
    text-align: center;
  }

  section#Kootenay p {
    margin-left: 10%;
  }


  
    /*--------Bragg Creek Section------*/

    section#Bragg-Creek{
        display:grid;

        gap:5rem;
        align-items: center;
        justify-content: center;
      }
    
      section#Bragg-Creek img{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }
    
      section#Bragg-Creek .text-content{
        display:flex;
        flex-direction: column;
      }
    
      section#Bragg-Creek .text-content p{
        text-align: center;
      }
    

